body {
  font-family: 'Nunito', sans-serif;
  color: #505050;
  background: #D8D8D8 url('img/old_moon.png') repeat;
}

a {
  color: #780000;
  text-decoration: none;
}

h1 {
  font-size: 1.950em;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 1.20em;
  color: #780000;
}

.grid_3 img {
  border: 4px solid #707070;
  margin: 0 0 40px 0px;
}

.grid_4 img {
  border: 4px solid #707070;
  border-radius: 20px;
}

.btn {
  color: #FAF3BC;
  background: #4FB69F url('img/square_bg.png') no-repeat right top;
  padding: 15px 30px;
  margin: 40px 0px;
  border-radius: 25px;
  text-transform: uppercase;
}

.btn:hover {
  color: #F00000;
}

ul.nav {
  margin: 60px 0 0 0;
  list-style: none;
  float: right;
  font-size: 20px;
}

ul.nav li {
  float: left;
  margin-right: 40px;
}

ul.nav li a {
  color: #780000;
}

#intro {
  margin: 50px 0 75px 0;
}

#new-cupcakes img {
  border: 4px solid #707070;
  margin: 0 0 20px 0;
}

#featured-cupcake img {
  border: 4px solid #707070;
  margin: 0 0 20px 0;
}

#copyright {
  border-top: 8px solid #2A0400;
  padding: 10px 0px;
  margin: 15px 0px;
  text-align: center;
}












